extends ../layout

block content
  h1 Edit - Change An Event
  form.form-horizontal.form(id='form',action='/event/edit', method='POST')
    include ./includes/event-form.jade
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-danger(type='reset') Clear
        input(type='hidden',value= '#{data.id}', name='id')
        button.btn.btn-success(type='submit') Update  
  script.
    //Wait for document to load.
    $(document).ready(function(){
      $("#title").val('#{data.title}');
      $("#startDate").val('#{data.startDate}');
      $("#startTime").val('#{data.startTime}');
      $("#endDate").val('#{data.endDate}');
      $("#endTime").val('#{data.endTime}');
      $("#location").val('#{data.location}');
      $("#notes").val('#{data.notes}');
    });
