extends ../layout

block content
  h1 Edit - Change An Event
  form(name='form',action='/event/edit', method='POST')
    include ./includes/event-form.jade
    input(type='hidden',value= '#{data.id}', name='id')
    input(type='reset', value='Clear')
    input(type='submit', value='Update')
  script.
    //Wait for document to load.
    $(document).ready(function(){
      $("[name=title]").val('#{data.title}');
      $("[name=startDate]").val('#{data.startDate}');
      $("[name=startTime]").val('#{data.startTime}');
      $("[name=endDate]").val('#{data.endDate}');
      $("[name=endTime]").val('#{data.endTime}');
      $("[name=location]").val('#{data.location}');
      $("[name=notes]").val('#{data.notes}');

    });
